html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  margin: 100px auto 80px auto;
  // border: 5px solid greenyellow;
  width: 732px;
  height: 714px;
}
.logo-text{
  text-transform: uppercase;
  font-weight: 400;
  width: 138px;
  height: 26px;
  display: inline;
  span{
    font-weight: bold;
  }
}
.find-description{
  font-weight: 400;
}
.find__input{
  -webkit-appearance: none;
  width:403px;
  height: 35px;
  border: 1px solid rgba(151, 151, 151, 1);
}
.find__input::-webkit-outer-spin-button,
.find__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.find__button{
  background-color:  rgba(99, 197, 86, 1);
  color: #fff;
  width: 117px;
  height: 35px;
  border: none;
  margin-left: 11px;
}